# Editor / IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS / Sistema Operacional
.DS_Store
Thumbs.db

# Ambiente de IA / Scripts (Gemini/Antigravity)
.agent/
.agents/

# Logs locais
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Node / Dependências (Garantia de segurança, mesmo tendo nas pastas filhas)
node_modules/
.npm/
.yarn/

# Arquivos de ambiente comuns (Garantia de segurança)
.env
.env.development
.env.*.local
